body{
    background-color: #EAEDF4;
}

.borders{
    /* border: 2px solid red; */
}

#maindetails{
    background-color: white;
    height: 200px;
    border-radius: 30px 30px 30px 30px; 
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 20px;
}
#maintitlebox{
    background-color: white;
    height: 50px;
    border-radius: 30px 30px 30px 30px; 
    margin-top: 20px;
    margin-bottom: 20px;

}
#maintitlenohi{
    background-color: white;
    border-radius: 30px 30px 30px 30px; 
    margin-top: 20px;
    margin-bottom: 20px;

}
#subdetails{
    background-color: white;
    border-radius: 30px 30px 30px 30px; 
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 20px;
    height: 100%;
    

}
#subdetailswithh{
    background-color: white;
    border-radius: 30px 30px 30px 30px; 
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 20px;
    height: 300px;
    

}

.height500{
    height: 600px;
}
.height100100{
    height: 100%;
}
.height300{
    height: 300px;
}

.vl {
    border-left: 6px solid green;
    height: 500px;
  }


  #requires{
    display:none;
}
.valid{
    color: green;
}
.valid:before{
    content:"✔";
}
.invalid{
    color: red;
}
.invalid:before{
    content: "✖";
}
#showPwd{
    display: none;
}