body{
    background-color: #EAEDF4;
}

.borders{
    /* border: 2px solid red; */
}

#maindetails{
    background-color: white;
    height: 200px;
    border-radius: 30px 30px 30px 30px; 
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 20px;
}
#maintitlebox{
    background-color: white;
    height: 50px;
    border-radius: 30px 30px 30px 30px; 
    margin-top: 20px;
    margin-bottom: 20px;

}
#maintitlenohi{
    background-color: white;
    border-radius: 30px 30px 30px 30px; 
    margin-top: 20px;
    margin-bottom: 20px;

}
#subdetails{
    background-color: white;
    border-radius: 30px 30px 30px 30px; 
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 20px;
    height: 100%;
    

}

.height500{
    height: 600px;
}
.height300{
    height: 600px;
}

.vl {
    border-left: 6px solid green;
    height: 500px;
  }


